.artists {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.artist--item {
  margin-bottom: 20px;
  background: white;
}

.artist--link {
  float: right;
  text-decoration: none;
  color: #4e4376;
  font-weight: 900;
}
